numpy
scipy
Pillow
torch==1.9.0  # pinned due to https://discuss.pytorch.org/t/failed-to-load-image-python-extension-could-not-find-module/140278
# https://github.com/pytorch/vision/issues/5413
torchvision==0.10.0 # pinned due to https://discuss.pytorch.org/t/failed-to-load-image-python-extension-could-not-find-module/140278
# https://github.com/pytorch/vision/issues/5413
trimesh
